<div class="navBarrra">
	<ul id="menu">
		<li style="float: left;">
			<a href="index.html">VOYAGO</a>
		</li>
		<li style="float: left; margin-left: 30px; display: none;" id="botonCrearEventoMenu">
			<form action="#" id="formaBotonCrearEvento">
				<button type="submit" class="creEven" lang="es">
					Crear evento
				</button>
			</form>
		</li>
		<li>
			<img style="position:absolute; left: -60px; top: -25px; cursor: pointer;" id="cambiadorImagenIdioma" onclick="cambiarImagenIdioma(this)"/>
		</li>
		<li>
			<a href='index.html' lang="es">Inicio</a>
		</li>
		<li>
			<a href='#'>Rankings</a>
			<ul class="submenu">
				<li>
					<a href="rankingSitios.html" lang="es">Sitios</a>
				</li>
				<li>
					<a href="rankingUsers.html" lang="es">Usuarios</a>
				</li>
				<li>
					<a href="rankingAgencias.html" lang="es">Agencias</a>
				</li>
			</ul>
		</li>
		<li id="myEventsMenu" style="display: none;">
			<a href='misEventos.html' lang="es">Mis eventos</a>
		</li>
		<li id="registroMenu">
			<a href='login.html' lang="es">Registro/Login</a>
		</li>
		<li class="sub2" id="imagenPerfilMenu" style="display: none;"><img id="imgPerfilMenu" width="48" height="48">
			<ul id="sub1">
				<li class="sub2li">
					<a href="#" lang="es" id="perfilMenu" onclick="location.reload();">Perfil</a>
				</li>
				<li class="sub2li">
					<a href="misEventos.html" lang="es">Mis eventos</a>
				</li>
				<li class="sub2li">
					<a href="#" lang="es" id="cerrarSesionMenu" onclick="botonCerrarSesion();">Salir</a>
				</li>
			</ul>
		</li>
	</ul>
</div>