<div id="piePagina">
	<div style="text-align: center; color: white; padding: 15px;">
		<span style="margin-right: 10px;">© 2015 Voyago</span><img src="images/logo32.png" style="margin-top: 10px;"/>
	</div>
	<div style="text-align: center;">
		<a href="http://crimago.upv.edu.es/voyago/docs/1_Condiciones%20de%20Servicio.pdf" target="_blank" class="enlacesPiePagina" lang="es">Condiciones de servicio</a> | <a href="http://crimago.upv.edu.es/voyago/docs/2_Condiciones%20de%20Uso.pdf" target="_blank" class="enlacesPiePagina" lang="es">Condiciones de uso</a> | <a href="http://crimago.upv.edu.es/voyago/docs/3_Pol%C3%ADtica%20de%20privacidad.pdf" target="_blank" class="enlacesPiePagina" lang="es">Política de Privacidad</a> | <a href="http://crimago.upv.edu.es/voyago/docs/4_T%C3%A9rminos%20y%20condiciones.pdf" target="_blank" class="enlacesPiePagina" lang="es">Términos y condiciones</a>
	</div>
</div>