@font-face {
    font-family: stilu;
    src: url("fonts/stilu.light.otf");
}
@font-face {
    font-family: stiluBold;
    src: url("fonts/stilu.regular.otf");
}
* {
    margin: 0;
    padding: 0;
    font-family: stilu;
    outline: none;
}
html, body {
    height: 100%;
}
.navBarrra {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 130;
    width: 100%;
    text-align: center;
    height: 100px;
    line-height: 80px;
    background: #CC333F;
    margin: 0 0 30px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}
.navBarrra li {
    display: inline;
}
.navBarrra a {
    color: #fff;
    text-decoration: none;
    margin: 0 -4px 0 -2px;
    padding: 0 30px;
    font-size: 25px;
    -webkit-transition: color ease 0.25s;
    transition: color ease 0.25s;
}
.navBarrra a:hover, .navBarrra a:focus {
    color: #EDC951;
    -webkit-transition: color ease 0.5s;
    transition: color ease 0.5s;
}
.sub2 {
    float: right;
    margin-top: 15px;
    margin-right: 100px;
    width: 52px;
    height: 52px;
}
.sub2:hover #sub1 {
    position: relative;
    right: 40px;
    width: 150px;
    background: transparent;
    visibility: visible;
    display: block;
}
.sub3 {
    /*margin-top: 15px; */
    float: left;
    padding: 0;
    margin-left: 120px;
}
.sub3:hover #sub1 {
    position: relative;
    /*right: 40px;*/
    width: 150px;
    background: transparent;
    visibility: visible;
    display: block;
}
#sub1 {
    display: none;
    z-index: 2;
}
#sub1 li {
    display: inline-block;
    background-color: gray;
    width: 100%;
}
#sub1 li a {
    display: block;
    font-size: 25px;
    background-color: #6A4A3C;
    margin: 0;
    padding: 0;
    text-align: center;
}
.sub2 ul:after, .sub3 ul:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    left: 35%;
    border-width: 0 15px 15px 15px;
    border-style: solid;
    border-color: #6A4A3C transparent;
}
.sub2 img {
    -webkit-filter: sepia(100%);
    filter: sepia(100%);
    border-radius: 50%;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.sub2:hover img {
    -webkit-filter: sepia(0);
    filter: sepia(0);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
#menu, .submenu {
    /*font-family: Arial, Verdana;   */
    margin: 0;
    font-size: 17px;
    padding: 0;
    list-style: none;
    border: none;
    z-index: 500;
}
#menu li {
    display: block;
    position: relative;
    display: inline-block;
}
li #menu {
    display: none;
    border: none;
}
.submenu {
    display: none;
}
#menu li a {
    display: block;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    padding: 0px 15px 8px 15px;
    white-space: nowrap;
}
#menu a:hover {
    color: #EDC951;
}
#menu li:hover .submenu {
    display: block;
    position: absolute;
    width: 100%;
}
#menu li:hover .submenu li {
    width: 100%;
    float: none;
}
#menu li:hover .submenu li a {
    background: #CC333F;
    width: 100px;
}
#menu li:hover li a:hover {
    color: #EDC951;
}
.creEven {
    height: 40px;
    width: 160px;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    padding: 5px;
    border: none;
    color: #fff;
    text-transform: uppercase;
    background-color: #EDC951;
    -webkit-transition: background-color ease 0.5s;
    transition: background-color ease 0.5s;
}
.creEven:hover {
    background-color: #EB6841;
    -webkit-transition: background-color ease 0.5s;
    transition: background-color ease 0.5s;
}
.skrollr-desktop body {
    height: 100% !important;
}
.parallax-image-wrapper {
    position: fixed;
    left: 0;
    width: 100%;
    overflow: hidden;
}

.parallax-image-wrapper-50 {
    height: 50%;
    top: -0%;
}

.parallax-image-wrapper-100 {
    height: 100%;
    top: -104%; /*Modificar a qué altura estará la imagen*/
}

.parallax-image {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.withOpacity {
    opacity: 0.5;
}

.parallax-image-50 {
    height: 200%;
    top: -50%;
}

.parallax-image-100 {
    height: 100%;
    top: 0;
}

.parallax-image.skrollable-between {
    display: block;
}

.no-skrollr .parallax-image-wrapper {
    display: none !important;
}

#skrollr-body {
    height: 100%;
    margin-top: 100px;
    overflow: visible;
    position: relative;
}

.gap {
    background: transparent center no-repeat;
    background-size: cover;
}

.skrollr .gap {
    background: transparent !important;
}

.gap-50 {
    height: 50%;
}

.gap-100 {
    height: 100%;
}

.header, .content {
}
/*.content p{
 opacity: 0.5;
 }*/

.content-full {
    height: 100%;
}

#done {
    height: 100%;
}
.buscador {
    position: relative;
    margin: auto;
    /*background: red;*/
    top: 10%;
    width: 40%;
}
.form-style-9 {
    /*max-width: 460px;
     background: #FAFAFA;
     padding: 30px;
     margin: 50px auto;
     border-radius: 10px;
     border: 6px solid #00A0B0;*/
}
.form-style-9 ul {
    /*padding:0;*/
    margin: 0;
    list-style: none;
    max-width: 460px;
    background: #FAFAFA;
    padding: 30px;
    margin: 50px auto;
    /*box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);*/
    border-radius: 10px;
    border: 6px solid #00A0B0;
}
.form-style-9 ul li {
    display: block;
    margin-bottom: 10px;
    min-height: 35px;
}
.form-style-9 ul li  .field-style {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 8px;
    outline: none;
    border: 1px solid #B0CFE0;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
}
.form-style-9 ul li  .field-style:focus {
    /*box-shadow: 0 0 5px #B0CFE0;*/
    border: 1px solid #EB6841;
}
.form-style-9 ul li .field-split {
    width: 49%;
}
input[type='origen'] {
    background-image: url(images/departure.png);
    background-position: 97% 50%;
    background-size: 15%;
    background-repeat: no-repeat;
    /*padding-left: 100px;*/
}
input[type='destino'] {
    background-image: url(images/arrival.png);
    background-position: 97% 50%;
    background-size: 15%;
    background-repeat: no-repeat;
    /*padding-left: 100px;*/
}
.form-style-9 ul li .field-full {
    width: 100%;
}
.form-style-9 ul li input.align-left {
    float: left;
}
.form-style-9 ul li input.align-right {
    float: right;
}
.form-style-9 ul li textarea {
    width: 100%;
    height: 100px;
}
#busAvan {
    background: none;
    border: 0;
    float: right;
    margin-right: 20px;
    cursor: pointer;
}
#busAvan:hover, #btnMapa:hover {
    color: #00A0B0;
}
#btnMapa {
    background: none;
    border: none;
    float: left;
    margin-left: 20px;
    cursor: pointer;
}
/*#busAvan:after {
 clear:both;
 display:block;
 position:relative;
 top:-4px;
 left:130px;
 content: "";
 height:0;
 width:0;
 padding:0;
 margin:-8px;
 border:8px solid transparent;
 border-top-color: #00A0B0;
 }*/
button#busAvan:after {
    /*content: "\25B2";*/
    content: "\25BC";
    margin-left: 7px;
}
button#busAvan.abajo:after {
    content: "\25B2";
    margin-left: 7px;
}
.buscar {
    height: 80px;
    width: 230px;
    position: relative;
    left: 30%;
    font-size: 30px;
    border-radius: 10px;
    border: none;
    color: #fff;
    text-transform: uppercase;
    background-color: #EB6841;
    -webkit-transition: background-color ease 0.5s;
    transition: background-color ease 0.5s;
}
.buscar:hover {
    background-color: #CC333F;
    -webkit-transition: background-color ease 0.5s;
    transition: background-color ease 0.5s;
}
#buscarCon {
    height: 80px;
    width: 230px;
    position: relative;
    left: 30%;
    font-size: 30px;
    border-radius: 10px;
    border: none;
    color: #fff;
    text-transform: uppercase;
    background-color: #EB6841;
    -webkit-transition: background-color ease 0.5s;
    transition: background-color ease 0.5s;
}
#buscarCon:hover {
    background-color: #CC333F;
    -webkit-transition: background-color ease 0.5s;
    transition: background-color ease 0.5s;
}
.contenido {
    background: #EB6841;
    margin-top: -26px;
    display: inline-block;
    width: 100%;
    /*height: 700px;*/
    /*position: relative;*/
    /*z-index: 30;*/
    /*padding-bottom: 100px;*/
}
.contenido form:nth-child(n) {
    /*text-align: center;*/
    /*display: inline-block;
     margin: 0 auto;*/
    margin: 60px 5% 100px;
    /*margin-left: 8%;*/
}
.v-events {
    /*margin-left: 33%;*/
    /*margin: 0 auto;*/
    background: red;
    /*display: inline-block;
     text-align: center;*/
}
.corner {
    width: 96px;
    height: 96px;
    overflow: hidden;
    position: absolute;
    top: -14px;
    right: -13px;
    z-index: 1;
}
.eventForm, .sitioForm, .userForm {
    font-family: stilu;
    font-size: 0.9em;
    background: white;
    text-align: left;
    width: 290px;
    height: 345px;
    display: block;
    float: left;
    margin: 15px 15px 35px;
    padding: 10px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    position: relative;
    border: 1px solid #00A0B0;
    -webkit-transition: box-shadow 0.3s;
    transition: box-shadow 0.3s;
}
.sitioForm, .userForm {
    width: 545px;
    height: 190px;
}
#divsitiosForm > a, #divusersForm > a {
    display: inline-block;
    margin: 40px 40px;
    padding: 0;
    width: 545px;
    height: 190px;
}
.eventForm:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
    -webkit-transition: box-shadow 0.3s;
    transition: box-shadow 0.3s;
}
.subscribee {
    background-color: #EB6841;
    border: none;
    color: white;
    padding: 5px;
    border-radius: 5px;
    -webkit-transition: background-color ease 0.5s;
    transition: background-color ease 0.5s;
    z-index: 999;
}
.subscribee:hover {
    background-color: #CC333F;
    -webkit-transition: background-color ease 0.5s;
    transition: background-color ease 0.5s;
}
.subscribeInEvent {
    background-color: #EB6841;
    float: right;
    border: none;
    color: white;
    padding: 15px;
    font-size: 15px;
    border-radius: 5px;
    margin-right: 40px;
    margin-top: 20px;
    cursor: pointer;
    -webkit-transition: background-color ease 0.5s;
    transition: background-color ease 0.5s;
    /*z-index: 999;*/
}
.subscribeInEvent:hover {
    background-color: #CC333F;
    -webkit-transition: background-color ease 0.5s;
    transition: background-color ease 0.5s;
}
.imgEvent {
    position: relative;
    border: 1px solid #333;
    overflow: hidden;
    border: none;
}
.imgEvent img {
    max-width: 100%;
    margin: 0;
    padding: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.eventForm:hover .imgEvent img, .sitioForm:hover .imgEvent .sitioImg {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.userForm:hover .imgEvent .userImg {
    -webkit-filter: sepia(0);
    filter: sepia(0);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.userImg {
    -webkit-filter: sepia(100%);
    filter: sepia(100%);
    border-radius: 50%;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.eventForm * {
    margin: 5px;
}
.eventForm .imgEvent {
    width: 280px;
    height: 190px;
    overflow: hidden;
}
.eventForm .ciudad {

    color: #CC333F;
    font-size: 20px;
    font-weight: bold;
}
.eventForm .fechas {
    margin-top: 20px;
    font-size: 17px;
    color: black;
}
.eventForm .imgResp {
    width: 96px;
    height: 96px;
    float: right;
    margin-top: -20px;
    border-radius: 50%;
    border: 3px solid #00A0B0;
    /*opacity: 0.1;*/
}
.aEventForm{
    padding: 0; 
    border: 0; 
    margin: 0;
}
.imgCreadorEvento {
    float: right;
    border-radius: 50%;
    border: 3px solid #00A0B0;
    /*opacity: 0.1;*/
}
#logoimg {
    float: left;
    margin-top: 0;
    width: 32px;
    height: 32px;
}
.sitioForm > div, .userForm > div {
    display: inline-block;
}
.sitioForm:hover, .userForm:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
    -webkit-transition: box-shadow 0.3s;
    transition: box-shadow 0.3s;
}
.infoSitio, .infoUser {
    position: absolute;
    top: 10px;
    margin-left: 30px;
    width: 42%;
    font-size: 30px;
    color: black;
}
.infoUser {
    width: 58%;
}
#content {
    float: left;
    font-size: 17px;
    padding-left: 5px;
    margin-top: 7px;
    color: black;
}
.clearer {
    clear: both;
}
.imgUser {
    float: right;
    margin-top: -20px;
    cursor: pointer;
    z-index: 999;
}
.wrapper-dropdown-3 {
    /* Size and position */
    position: relative;
    width: 44.5%;
    margin: 0 auto;
    padding: 10px;
    float: left;
    z-index: 3;
    /* Styles */
    background: #fff;
    /*border-radius: 7px;*/
    border: 1px solid #B0CFE0;
    box-shadow: 0 1px 1px rgba(50,50,50,0.1);
    cursor: pointer;
    outline: none;
    /* Font settings */
    /*font-weight: bold;*/
    color: black;
    font-family: stilu;
}
.wrapper-dropdown-3:focus, .wrapper-dropdown-3:focus .dropdown {
    border: 1px solid #EB6841;
}
.wrapper-dropdown-3:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #B0CFE0 transparent;
}
.wrapper-dropdown-3 .dropdown {
    /* Size & position */
    position: absolute;
    top: 90%;
    left: 0;
    right: 0;
    /* Styles */
    background: white;
    /*border-radius: inherit;*/
    border: 1px solid rgba(0,0,0,0.17);
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    /*font-weight: normal;*/
    font-family: stilu;
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    list-style: none;
    /* Hiding */
    opacity: 0;
    pointer-events: none;
}

.wrapper-dropdown-3 .dropdown li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid #e6e8ea;
    box-shadow: inset 0 1px 0 rgba(255,255,255,1);
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.wrapper-dropdown-3 .dropdown li i {
    float: right;
    color: inherit;
}

.wrapper-dropdown-3 .dropdown li:first-of-type a {
    /*border-radius: 7px 7px 0 0;*/
}

.wrapper-dropdown-3 .dropdown li:last-of-type a {
    /*border-radius: 0 0 7px 7px;*/
    border: none;
}

/* Hover state */

.wrapper-dropdown-3 .dropdown li:hover a {
    background: #CC333F;
    color: #EDC951;
}
.wrapper-dropdown-3 .dropdown:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 15px;
    border-width: 0 6px 6px 6px;
    border-style: solid;
    border-color: #fff transparent;
}

.wrapper-dropdown-3 .dropdown:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 13px;
    border-width: 0 8px 8px 8px;
    border-style: solid;
    border-color: #EB6841 transparent;
}
.wrapper-dropdown-3.active .dropdown {
    opacity: 1;
    pointer-events: auto;
}
.numCombo {
    margin-left: 10px;
    border-radius: 0;
    border-color: #B0CFE0;
    font-size: 20px;
}
.numCombo:focus {
    border-color: #EB6841;
}
.spanAgencia {
    float: left;
    margin: 10px;
    margin-top: 15px;
}
.onoffswitch {
    position: relative;
    width: 73px;
    float: left;
    margin-top: 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #FFFFFF;
    border-radius: 22px;
}
.onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    -webkit-transition: margin 0.3s ease-in 0s;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 33px;
    padding: 0;
    line-height: 33px;
    font-size: 16px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "SÍ";
    padding-left: 10px;
    background-color: #3BC229;
    color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "NO";
    padding-right: 10px;
    background-color: #EEEEEE;
    color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block;
    width: 31px;
    margin: 1px;
    background: #00A0B0;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 36px;
    border: 2px solid #FFFFFF;
    border-radius: 22px;
    -webkit-transition: all 0.3s ease-in 0s;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}
.creador, .rankingSitios {
    position: relative;
    margin: auto;
    /*background: red;*/
    /*top: 10%;*/
    width: 40%;
}
#textarea {
    max-width: 100%;
    height: 50px;
    border-color: #B0CFE0;
}
#crear-btn {
    height: 80px;
    width: 230px;
    position: relative;
    left: 30%;
    font-size: 30px;
    border-radius: 10px;
    border: none;
    color: #fff;
    text-transform: uppercase;
    background-color: #EDC951;
    -webkit-transition: background-color ease 0.5s;
    transition: background-color ease 0.5s;
}
#crear-btn:hover {
    background-color: #CC333F;
    -webkit-transition: background-color ease 0.5s;
    transition: background-color ease 0.5s;
}
#saveChangesEvent {
    height: 80px;
    width: 230px;
    position: relative;
    left: 40%;
    font-size: 30px;
    border-radius: 10px;
    margin: 30px 0px;
    border: none;
    color: #fff;
    text-transform: uppercase;
    background-color: #EB6841;
    -webkit-transition: background-color ease 0.5s;
    transition: background-color ease 0.5s;
}
#saveChangesEvent:hover {
    background-color: #CC333F;
    -webkit-transition: background-color ease 0.5s;
    transition: background-color ease 0.5s;
}
#campOp {
    background: none;
    border: 0;
    float: left;
    margin-top: 10px;
    margin-right: 20px;
    font-size: 15px;
}
#campOp:hover {
    color: #00A0B0;
}
button#campOp:after {
    /*content: "\25B2";*/
    content: "\25BC";
    margin-left: 7px;
}
button#campOp.abajo:after {
    content: "\25B2";
    margin-left: 7px;
}
#placeName, #misEventosNombre {
    position: absolute;
    left: 200px;
    top: 200px;
    font-size: 60px;
    color: white;
    background: #EB6841;
    opacity: 0.9;
}
.eventName {
    position: absolute;
    left: 120px;
    top: 300px;
    font-size: 60px;
    color: white;
    background: #EB6841;
    opacity: 0.9;
}
.active {
    color: #EDC951;
    z-index: 999;
}
.tabs nav {
    text-align: left;
    margin-left: 100px;
}
.divInfoUser {
    margin: 20px 0px 0px 100px;
    font-family: stiluBold;
    margin-bottom: 60px;
    padding-bottom: 0px;
}
.divInfoUser > div {
    display: inline-block;
    overflow: visible;
}
.divValoracion > div {
    display: inline-block;
    font-size: 25px;
}
#editSub {
    width: 115px;
    height: 40px;
    position: relative;
    top: -75px;
    left: 130px;
    color: white;
    background-color: #EB6841;
    text-transform: uppercase;
    border-radius: 10px;
    -webkit-transition: background-color ease 0.5s;
    transition: background-color ease 0.5s;
    border: 0;
    cursor: pointer;
}
#darDeAlta {
    width: 115px;
    height: 40px;
    color: white;
    margin-left: 30px;
    background-color: #EB6841;
    text-transform: uppercase;
    border-radius: 10px;
    -webkit-transition: background-color ease 0.5s;
    transition: background-color ease 0.5s;
    border: 0;
    cursor: pointer;
}
#editSub:hover, #darDeAlta:hover {
    background-color: #CC333F;
    -webkit-transition: background-color ease 0.5s;
    transition: background-color ease 0.5s;
}
.perfilATabs {
    color: red;
}
#map {
    /*margin: 100px;*/
    width: 960px;
    height: 500px;
}
.contenidoEvento {
    background: #EB6841;
    /*margin-top: -26px;*/
    display: inline-block;
    width: 100%;
}
.contenidoEvento > div {
    display: inline-block;
}
#mainEventContent {
    width: 69%;
    /*background: white;*/
    margin-top: 170px;
    margin-left: 6px;
}
#creadorEventContent {
    width: 30%;
    /*background: gray;*/
    margin-top: 170px;
    position: absolute;
    top: 0;
}
.eventTextAreas {
    margin-top: 30px;
    margin-left: 72px;
    max-width: 80%;
    width: 80%;
    height: 150px;
    border-radius: 10px;
    padding: 10px;
    resize: none; 
    background: transparent; 
    border: 0;
}
#divEventFechasBotonSuscribir {
    display: inline-block;
    width: 100%;
    /*background: yellow;*/
}
#divEventFechasBotonSuscribir > * {
    display: inline-block;
}
.creatorDescriptionEvent {
    width: 250px;
    border-bottom: 1px solid #00A0B0;
    border-right: 1px solid #00A0B0;
    margin-left: 10px;
    margin-top: 10px;
}
.creatorDescriptionEvent:after {
    content: '';
    position: absolute;
    top: 10px;
    left: 261px;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-left: 12px solid #00A0B0;
    border-radius: 50%;
}
.creatorDescriptionEvent:before {
    content: '';
    position: absolute;
    top: 10px;
    left: 261px;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-left: 12px solid #00A0B0;
}
.iconoEditar {
    background: url(images/editO.png);
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    display: inline-block;
    margin-left: 15px;
    -webkit-transition: background ease 0.5s;
    transition: background ease 0.5s;
}
.iconoEditar:hover {
    background: url(images/editR.png);
    -webkit-transition: background ease 0.5s;
    transition: background ease 0.5s;
}
#divParticipantesEvento{
    border: 1px solid black; 
    margin-left: 72px; 
    margin-top: 20px; 
    width: 80%;
}
#divParticipantesEvento > div{
    display: inline-block;
}
#piePagina{
    width: 100%;
    height: 120px;
    margin-top: -20px;
    background: #6A4A3C;
}
.enlacesPiePagina{
    border-bottom: 3px solid #CC333F; 
    text-decoration: none; 
    color: white;
    -webkit-transition: border-bottom ease 0.5s;
    transition: border-bottom ease 0.5s;
}
.enlacesPiePagina:hover{
    border-bottom: 3px solid #6A4A3C;
    -webkit-transition: border-bottom ease 0.5s;
    transition: border-bottom ease 0.5s;
}
#submitNewImage,
#uploadfiles{
    background-color: #EB6841;
    border: none;
    color: white;
    padding: 15px;
    font-size: 15px;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 40px;
    cursor: pointer;
    text-decoration: none;
    -webkit-transition: background-color ease 0.5s;
    transition: background-color ease 0.5s;
}
#submitNewImage:hover,
#uploadfiles:hover{
    background-color: #CC333F;
    -webkit-transition: background-color ease 0.5s;
    transition: background-color ease 0.5s;
}
#pickfiles{
    background-color: #EDC951;
    border: none;
    color: white;
    padding: 15px;
    font-size: 15px;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    -webkit-transition: background-color ease 0.5s;
    transition: background-color ease 0.5s;
}
#pickfiles:hover{
    background-color: #CC333F;
    -webkit-transition: background-color ease 0.5s;
    transition: background-color ease 0.5s;
}