@font-face {
    font-family: stilu;
    src: url("fonts/stilu.light.otf");
}
@font-face {
    font-family: stiluBold;
    src: url("fonts/stilu.regular.otf");
}
.tabs {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin: 3em 0 2em;
    font-weight: 300;
}

/* Nav */
.tabs nav {
    text-align: center;
}

.tabs nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline-block;
}

.tabs nav ul li {
    border: 1px solid #6A4A3C;
    border-bottom: none;
    margin: 0 0.25em;
    display: block;
    float: left;
    position: relative;
}

.tabs nav li.tab-current {
    border: 1px solid white;
    box-shadow: inset 0 2px white;
    border-bottom: none;
    z-index: 100;
}

.tabs nav li.tab-current:before,
.tabs nav li.tab-current:after {
    content: '';
    position: absolute;
    height: 1px;
    right: 100%;
    bottom: 0;
    width: 1000px;
    background: white;
}

.tabs nav li.tab-current:after {
    right: auto;
    left: 100%;
    width: 4000px;
}

.tabs nav a {
    color: #6A4A3C;
    display: block;
    font-size: 1.45em;
    line-height: 2.5;
    padding: 0 1.25em;
    white-space: nowrap;
    text-decoration: none;
}

.tabs nav a:hover {
    color: #CC333F;
}

.tabs nav li.tab-current a {
    color: white;
}

/* Icons */
.tabs nav a:before {
    display: inline-block;
    vertical-align: middle;
    text-transform: none;
    font-weight: normal;
    font-variant: normal;
    font-family: stilu;
    line-height: 1;
    speak: none;
    -webkit-font-smoothing: antialiased;
    margin: -0.25em 0.4em 0 0;
}

/* Content */
.content section {
    font-size: 1.25em;
    /*padding: 3em 1em;*/
    display: none;
    /*max-width: 1230px;*/
    margin: 0 auto;
}

/*.content section:before,
.content section:after {
    content: '';
    display: table;
}*/

/*.content section:after {
    clear: both;
}*/

/* Fallback example */
.no-js .content section {
    display: block;
    padding-bottom: 2em;
    border-bottom: 1px solid #47a3da;
}

.content section.content-current {
    display: block;
}
