@font-face {
    font-family: stilu;
    src: url("fonts/stilu.light.otf");
}
@font-face {
    font-family: stiluBold;
    src: url("fonts/stilu.regular.otf");
}
* {
	margin: 0;
	padding: 0;
	font-family: stilu;
}
html, body {
	height:100%;
}
.navBar {
	text-align:center;
	height: 80px;
	line-height: 80px;
	background: #CC333F;
	margin: 0 0 30px;
	-moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}
.navBar li {
	display: inline;
}
.navBar a {
	color: #fff;
	text-decoration:none; 
	margin:0 -4px 0 -2px;
	padding:0 30px; 
	font-size: 25px;
	transition: color ease 0.25s;
}
.navBar a:hover, .navBar a:focus {
	color: #EDC951;
	transition: color ease 0.5s;
}
.active a{
	color: #EDC951;
}
.skrollr-desktop body {
	height:100% !important;
}
.parallax-image-wrapper {
	position:fixed;
	left:0;
	width:100%;
	overflow:hidden;
}

.parallax-image-wrapper-50 {
	height:50%;
	top:-50%;
}

.parallax-image-wrapper-100 {
	height:100%;
	top:-104%; /*Modificar a qué altura estará la imagen*/
}

.parallax-image {
	display:none;
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
	opacity: 0.5;
}

.parallax-image-50 {
	height:200%;
	top:-50%;
}

.parallax-image-100 {
	height:100%;
	top:0;

}

.parallax-image.skrollable-between {
	display:block;
}

.no-skrollr .parallax-image-wrapper {
	display:none !important;
}

#skrollr-body {
	height:100%;
	overflow:visible;
	position:relative;
}

.gap {
	background:transparent center no-repeat;
	background-size:cover;
}

.skrollr .gap {
	background:transparent !important;
}

.gap-50 {
	height:50%;
}

.gap-100 {
	height:100%;
}

.header, .content {
}
/*.content p{
	opacity: 0.5;
}*/

.content-full {
	height:100%;
}

#done {
	height:100%;
}
.buscador{
	position: relative;
	margin: auto;
	/*background: red;*/
	top: 10%;
	width: 40%;
}



.form-style-9{
	max-width: 460px;
	background: #FAFAFA;
	padding: 30px;
	margin: 50px auto;
	box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
	border-radius: 10px;
	border: 6px solid #00A0B0;
}
.form-style-9 ul{
	padding:0;
	margin:0;
	list-style:none;
}
.form-style-9 ul li{
	display: block;
	margin-bottom: 10px;
	min-height: 35px;
}
.form-style-9 ul li  .field-style{
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	padding: 8px;
	outline: none;
	border: 1px solid #B0CFE0;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;

}.form-style-9 ul li  .field-style:focus{
	/*box-shadow: 0 0 5px #B0CFE0;*/
	border: 1px solid #EB6841;
}
.form-style-9 ul li .field-split{
	width: 49%;
}
input[type='origen'] {
    background-image: url(images/departure.png) ;
    background-position: 97% 50%;
    background-size: 15%;
    background-repeat: no-repeat;
    /*padding-left: 100px;*/
}
input[type='destino'] {
    background-image: url(images/arrival.png) ;
    background-position: 97% 50%;
    background-size: 15%;
    background-repeat: no-repeat;
    /*padding-left: 100px;*/
}
.form-style-9 ul li .field-full{
	width: 100%;
}
.form-style-9 ul li input.align-left{
	float:left;
}
.form-style-9 ul li input.align-right{
	float:right;
}
.form-style-9 ul li textarea{
	width: 100%;
	height: 100px;
}
.buscar{
	height: 80px;
	width: 230px;
	position: relative; 
	left: 30%;
	font-size: 30px;
	border-radius: 10px;
	border: none;
	color: #fff;
	text-transform: uppercase;
	background-color: #EB6841;
	transition: background-color ease 0.5s;
}
.buscar:hover{
	background-color: #CC333F;
	transition: background-color ease 0.5s;
}
.contenido{
	background: #EB6841;
	margin-top: -26px;
	display: inline-block;
	width: 100%;
	/*position: relative;*/
	/*z-index: 30;*/
	/*padding-bottom: 100px;*/
}
.contenido form:nth-child(n){
	/*text-align: center;*/
	/*display: inline-block;
	margin: 0 auto;*/
	margin: 60px 5% 100px;
	/*margin-left: 8%;*/
}
.v-events{
	/*margin-left: 33%;*/
	/*margin: 0 auto;*/
	background: red;
	/*display: inline-block;
	text-align: center;*/
}
.corner{
  width: 96px;
  height: 96px;
  overflow: hidden;
  position: absolute;
  top: -14px;
  right: -13px;
  z-index: 1;
}
.eventForm{
  font-family: stilu;
  font-size: 0.9em;
  background: white;
  text-align: left;
  width: 290px;
  height: 345px;
  display: block;
  float: left;
  margin: 15px 15px 35px;
  padding: 10px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  position: relative;
  border: 1px solid #00A0B0;
  transition: box-shadow 0.3s;
}
.eventForm:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
  transition: box-shadow 0.3s;
}
.eventForm button{
    background-color: #EB6841;
    
    border: none;
    color: white;
    padding: 5px;
    border-radius: 5px;
    transition: background-color ease 0.5s;
}
.eventForm button:hover{
    background-color: #CC333F;
    transition: background-color ease 0.5s;
}
.imgEvent{
  position: relative;
  border: 1px solid #333;
  overflow: hidden;
  border: none;
}
.imgEvent img{
  max-width: 100%;
  margin: 0;
  padding: 0;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.eventForm:hover .imgEvent img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.eventForm *{
  margin: 5px;
  
}
.eventForm .imgEvent{
  width: 280px;
  height: 190px;
  overflow: hidden;
}
.eventForm .ciudad{
  
  color: #CC333F;
  font-size: 20px;
  font-weight: bold;
}
.eventForm .fechas{
  margin-top: 20px;
  font-size: 17px;
  color: black;
}
.eventForm .imgResp{
  width: 96px;
  height: 96px;
  float: right;
  margin-top: -20px;
  border-radius: 50%;
  border:3px solid #00A0B0;
  /*opacity: 0.1;*/
}
#logoimg {
    float: left;
    margin-top: 0;
    width: 32px;
    height: 32px;
}

#content {
    float:left;
    font-size: 17px;
    padding-left: 5px;
    margin-top: 7px;
    color: black;
}
.clearer {
    clear: both;
}
.imgUser{
  float: right;
  margin-top: -20px;
}